<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://JAVA.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <filter>
      <filter-name>LoginFilter</filter-name>
      <filter-class>cn.bw.lego.filter.loginFilter</filter-class>
  </filter>
    <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <url-pattern>/index.html</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>receptionFilter</filter-name>
    <filter-class>cn.bw.lego.filter.receptionUserFilter</filter-class>
  </filter>
   <filter-mapping>
      <filter-name>receptionFilter</filter-name>
       <url-pattern>/teacherInformation.jsp</url-pattern>
       <url-pattern>/listening.jsp</url-pattern>
        <url-pattern>/payItem.jsp</url-pattern>
       <url-pattern>/addClass.jsp</url-pattern>
       <url-pattern>/swipe.jsp</url-pattern>
       <url-pattern>/statisticalStudent.jsp</url-pattern>
       <url-pattern>/shouFeiTongJi.jsp</url-pattern>
       <url-pattern>/tuiFeiTongJi.jsp</url-pattern>
       <url-pattern>/swipeTongJi.jsp</url-pattern>
       <url-pattern>/keShiTongJi.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>StudentEditServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.StudentEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>studentServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.studentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>teacherServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.teacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherEditServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.TeacherEditServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>payItemServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.payItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayitemEditServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.PayitemEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReviewEditServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.ReviewEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reviewServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.reviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listeningServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.listeningServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listeningEditServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.listeningEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>followStateServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.followStateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>followStateEditServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.followStateEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addClassServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.addClassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addClassEditServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.addClassEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getMoneyServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.getMoneyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getMoneyEditServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.getMoneyEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>returnMoneyServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.returnMoneyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>returnMoneyEditServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.returnMoneyEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>moneyOfStatisticalServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.moneyOfStatisticalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>swipe</servlet-name>
    <servlet-class>cn.bw.lego.web.swipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>swipeDo</servlet-name>
    <servlet-class>cn.bw.lego.web.swipeDo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>returnMoneyStudentInformation</servlet-name>
    <servlet-class>cn.bw.lego.web.returnMoneyStudentInformation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tongJiStudent</servlet-name>
    <servlet-class>cn.bw.lego.web.tongJiStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>swipeTongJi</servlet-name>
    <servlet-class>cn.bw.lego.web.swipeTongJi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>cn.bw.lego.web.registerServlet</servlet-class>
  </servlet>



  
<servlet-mapping>
    <servlet-name>StudentEditServlet</servlet-name>
    <url-pattern>/StudentEditServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>studentServlet</servlet-name>
    <url-pattern>/studentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>teacherServlet</servlet-name>
    <url-pattern>/teacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherEditServlet</servlet-name>
    <url-pattern>/TeacherEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>payItemServlet</servlet-name>
    <url-pattern>/payItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayitemEditServlet</servlet-name>
    <url-pattern>/PayitemEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReviewEditServlet</servlet-name>
    <url-pattern>/ReviewEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reviewServlet</servlet-name>
    <url-pattern>/reviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listeningServlet</servlet-name>
    <url-pattern>/listeningServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listeningEditServlet</servlet-name>
    <url-pattern>/listeningEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>followStateServlet</servlet-name>
    <url-pattern>/followStateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>followStateEditServlet</servlet-name>
    <url-pattern>/followStateEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addClassServlet</servlet-name>
    <url-pattern>/addClassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addClassEditServlet</servlet-name>
    <url-pattern>/addClassEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getMoneyServlet</servlet-name>
    <url-pattern>/getMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getMoneyEditServlet</servlet-name>
    <url-pattern>/getMoneyEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>returnMoneyServlet</servlet-name>
    <url-pattern>/returnMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>returnMoneyEditServlet</servlet-name>
    <url-pattern>/returnMoneyEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>moneyOfStatisticalServlet</servlet-name>
    <url-pattern>/moneyOfStatisticalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>swipe</servlet-name>
    <url-pattern>/swipe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>swipeDo</servlet-name>
    <url-pattern>/swipeDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>returnMoneyStudentInformation</servlet-name>
    <url-pattern>/returnMoneyStudentInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tongJiStudent</servlet-name>
    <url-pattern>/tongJiStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>swipeTongJi</servlet-name>
    <url-pattern>/swipeTongJi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <session-config>
        <session-timeout>30</session-timeout>
   </session-config>
  <error-page>

       

       <location>/error.html</location>

       

    </error-page>
    
   
 

    
</web-app>
